body {
    height: 100vh;
    background-color: #EF4136;
    background-image: url(..//assets/img/icona-della-linea-del-treno-di-locomotiva-vapore-su-sfondo-rosso-vettoriale-stile-piatto-illustrazione-179113464.jpg);
    background-position: center bottom -3rem;
}